[GetData.Recover.My.Files.v3.98.6081.Incl.Keymaker-ROGUE.rar]
row=4
col=0

[GetData.Recover.My.Files.v3.98.6081.Incl.Keymaker-ROGUE]
row=3
col=0

[System plików o rozmiarze 25 GB]
row=2
col=0

[System plików]
row=1
col=0

[Katalog użytkownika]
row=0
col=0

